{% extends 'base.html' %}

{% block body %}
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Nightreads
      </h1>
      <h2>A good read before a good night's sleep, everyday.</h2>
      <div class="ui inverted segment">
      <form class="ui inverted form" method="POST" action="{% url 'users:subscribe' %}">
        {% csrf_token %}
        <div class="field">
          <label>email</label>
          <input type="email" name="email" placeholder="Your Email">
        </div>
        <div class="field">
          <label>tags</label>
          <select multiple="" name="tags" class="ui dropdown">
            <option value="">Select Your Interests</option>
            {% for tag in tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical center aligned segment">
    <div class="ui text container">
      <div class="ui inverted">
          <h2>What are Nightreads?</h2>
          <p>Every night I will send an email with a link to an interesting read. The links will never have news items. There are <a href="http://lobste.rs">plenty</a> <a href="https://news.ycombinator.com">of</a> <a href="https://www.reddit.com/r/programming">places</a> where you can get latest tech news. Choose your interests in the above box and I will send the links accordingly. And select <code>all</code> to receive every email.</p>
          <p>You can suggest me interesting links via <a href="https://twitter.com/devupin">Twitter</a>, <a href="http://scr.im/avii">email</a> or <a href="http://slack.devup.in">join</a> our <a href="https://dev-s.slack.com">Devup Slack Team</a>. I plan to build a webinterface to manage all this in future.</p>
          <p>Nightreads was originally started by our member <a href="https://dev-s.slack.com/team/gnu">@gnu</a> in Devup Slack.</p>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical center aligned footer segment">
    <div class="ui text container">
      <div class="ui inverted">
          <p><a href="{% url 'users:unsubscribe' %}">Unsubscribe</a> | <a href="http://slack.devup.in">Join Devup Slack</a> | <a href="//github.com/avinassh/nightreads">Built with &#x1F40D;</a> | <a href="https://twitter.com/devupin"><i class="twitter icon"></i></a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>
{% endblock %}