{% extends 'base.html' %}

{% block body %}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Nightreads
      </h1>
      <h2>A good read before a good night's sleep, everyday.</h2>
      <div class="ui inverted segment">
        <form class="ui inverted form" method="POST" action="{% url 'users:subscribe' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="field">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical center aligned segment">
    <div class="ui text container">
      <div class="ui inverted">
          <h2>What is Nightreads?</h2>
          <p>Every night we will email a link to an interesting read. The links will never contain news or ads of any sort. There are <a href="http://lobste.rs">plenty</a> <a href="https://news.ycombinator.com">of</a> <a href="https://www.reddit.com/r/programming">places</a> where you can find your fix of latest tech news. Select your interests in the box above and we will send the links based on your choices. Select <code>all</code> to receive email on all topics.</p>
          <p>You can suggest us interesting links via <a href="https://twitter.com/devupin">Twitter</a>, <a href="http://scr.im/avii">Email</a> or <a href="http://slack.devup.in">join</a> our <a href="https://dev-s.slack.com">Devup Slack Team</a>. We plan to build a web interface to manage this in future.</p>
          <p>Nightreads was originally started by our beloved member <a href="https://dev-s.slack.com/team/gnu">@gnu</a> in Devup Slack.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>
{% endblock %}
