{% extends 'base.html' %}

{% block body %}
  {% include 'masthead.html' %}
  <div class="ui inverted vertical center aligned segment">
    <div class="ui text container">
      <div class="ui inverted segment">
      <form class="ui inverted form" method="POST" action="{% url 'users:unsubscribe' %}">
        {% csrf_token %}
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="Enter your email to unsusbcribe :(">
        </div>
        <button class="ui button" type="submit">Submit</button>
        <div class="ui error message"></div>
      </form>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $('.ui.form')
  .form({
    fields: {
      email: 'email'
      }
  });
</script>
{% endblock %}
